* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: #123;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer {
  margin-top: auto;
}

footer a {
  color: #fff;
}

footer a:hover {
  position: relative;
  top: 1px;
}

.search-container {
  padding: 1rem;
  background-color: #eee;
}

.search-container form {
  margin-bottom: 1rem;
}

.days-container {
  display: flex;
  flex-flow: column;
}

.forecast-day {
  padding: 1rem;
  text-align: center;
  background-color: powderblue;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.uv {
  padding: 0.5rem;
  border-radius: 5px;
}

.uv-low {
  background-color: green;
}

.uv-moderate {
  background-color: yellow;
}

.uv-high {
  background-color: orange;
}

.uv-very-high {
  background-color: red;
}

.uv-extreme {
  background-color: violet;
}

#error-message {
  background-color: #ff8d8d;
  border: 1px solid red;
  color: #000;
  padding: 0.5rem;
  margin-bottom: 1rem;
  display: none;
}

#recents-list {
  overflow-y: scroll;
}

#recents-list li {
  padding: 0.5rem;
  background-color: #fff;
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  transition: all ease .15s;
}

#recents-list li:hover {
  cursor: pointer;
  background-color: #eee;
  border-color: #222;
}

#recents-list li:hover + li {
  border-top-color: #222;
}

#recents-list li:active {
  background-color: #ddd;
  border-color: #111;
}

#recents-list li:last-of-type {
  border-bottom-width: 1px;
}

#current-weather {
  padding: 1rem;
}

#current-weather img {
  vertical-align: middle;
}

#current-weather p {
  margin-bottom: 1rem;
}

#five-day-forecast {
  padding: 1rem;
}

#five-day-forecast > h2 {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
  }

  .days-container {
    flex-flow: unset;
    overflow-x: scroll;
  }

  .forecast-day {
    margin-right: 1rem;
  }

  .search-container {
    margin-right: 1rem;
    width: 30%;
  }

  .weather-container {
    width: 70%;
  }
}